<h1>Listing menu_lists</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Desc</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @menu_lists.each do |menu_list| %>
  <tr>
    <td><%= menu_list.title %></td>
    <td><%= menu_list.desc %></td>
    <td><%= menu_list.company %></td>
    <td><%= link_to 'Show', menu_list %></td>
    <td><%= link_to 'Edit', edit_menu_list_path(menu_list) %></td>
    <td><%= link_to 'Destroy', menu_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Menu list', new_menu_list_path %>
