-# encoding: UTF-8
= simple_form_for @girl.tasks.build do |f|
  = f.error_notification
  
  .form-inputs
    -# 时间需要处理
    = f.association :girl, input_html: { :disabled => :disabled }
    = f.input :intermediary
    = f.input :price
    = f.input :title
    = f.input :girl_id, :as => "hidden", input_html: { value: @girl.id }


  .actions
    %hr
    = f.submit "上钟", :class => "btn btn-warning" 