-# encoding: UTF-8
= simple_form_for @girl.tasks.build do |f|
  = f.error_notification
  
  .form-inputs
    -# 时间需要处理
    = f.input :intermediary
    = f.input :price, input_html: {  readonly: "readonly", type: "number" }
    = f.input :title
    = f.input :girl_id, :as => "hidden", input_html: { value: @girl.id }
    = f.association :service_menus, as: :check_boxes, collection: @girl.service_menus, label_method: :service_name

  .actions
    %hr
    %p= f.submit "开始服务", :class => "btn btn-warning btn-large" 