%h1  上钟统计
%p
  = link_to "今天", tasks_path(:by_star => "today"), class: "btn"
  = link_to "昨天", tasks_path(:by_star => "yesterday"), class: "btn"
  = link_to "本周", tasks_path(:by_star => "thisweek"), class: "btn"
  = link_to "上周", tasks_path(:by_star => "beforeweek"), class: "btn"
  = link_to "本月", tasks_path(:by_star => "thismonth"), class: "btn"
  = link_to "本年", tasks_path(:by_star => "thisyear"), class: "btn"
%hr
%span.label.label-warning
  合计价格： 
  = @total_prices
%table.table
  %tr
    %th 姓名
    %th 价格
    %th 介绍人
    %th 开始时间
    %th 结束时间
    %th 实际用时（分钟）
    %th 其他说明
  - @tasks.each do |task|
    %tr
      %td= task.technician.name unless task.technician.nil?
      %td
        %span.label= task.price
      %td= task.intermediary
      %td= task.starttime.strftime("%Y/%m/%d %H:%M")
      %td= task.endtime.strftime("%Y/%m/%d %H:%M")
      %td= ((task.endtime - task.starttime)/60).to_i
      %td= task.title

= will_paginate @tasks