-# encoding: UTF-8
= simple_form_for @user do |f|
  = f.error_notification
  
  .form-inputs
    = f.input :name
    = f.input :email
    = f.input :password, as: :password
    = f.input :password_confirmation, as: :password
    = f.input :company_id, :as => "hidden", input_html: { value: @current_company.id }
  .actions
    %hr
    = f.submit 