%h3 相关技师
%ul.thumbnails
  - @girls.each do |girl|
    %li.product-box.span4
      .product-details.caption
        .shop-info-text
          %span.label.label-info
            = "姓名：#{girl.name}"
          %span.label.label-info
            = "年龄：#{girl.age}" 
          %span.label.label-warning
            = "状态：" + t("girls.show.#{girl.state}")        
        %p.thumbnail
          %a{ :href => girl_path(girl), :class => [girl.state == 'getoff' ? "gray" : ""] }
            = image_tag(girl.avatar.thumbnail.url) unless girl.avatar.url.nil?

= will_paginate @girls

