%h3 相关技师
%ul.thumbnails
  - @technicians.each do |technician|
    %li
      .thumbnail
        .shop-info-text.caption
          %span.label.label-info
            = "姓名：#{technician.name}"
          %span.label.label-info
            = "年龄：#{technician.age}" 
          %span.label.label-warning
            = "状态：" + t("technicians.show.#{technician.state}")        
        %p
          %a{ :href => technician_path(technician), :class => [technician.state == 'getoff' ? "gray" : ""] }
            = image_tag(technician.avatar.thumbnail.url) unless technician.avatar.url.nil?

= will_paginate @technicians

