.hero-unit
  %p  
    = image_tag "home.jpeg" 
.row-fluid
- if session[:user_agent].platform == 'iPad' or user_signed_in?
  %ul.thumbnails
    - @girls.each do |girl|
      %li.product-box.span4
        %a{:href => girl_path(girl), :class => ["thumbnail", girl.state == 'getoff' ? "gray" : ""]}
          = image_tag(girl.pics.first.photo.thumbnail.url)
          .product-details.caption
            .shop-info-text
              %span.label.label-info
                = "年龄：#{girl.age}"
              %span.label.label-info
                = "三围：#{girl.bwh}" 
              %span.label.label-warning
                = "状态：" + t("girls.show.#{girl.state}")
        
  = will_paginate @girls
