- if params[:service_menu].nil? 
  %h1 按服务查询
  %hr
  .row-fluid
    %ul.thumbnails
      - @service_menus.each do |service_menu|
        %li.span4
          .thumbnail
            = link_to image_tag(service_menu.avatar.thumbnail.url), services_home_index_path(service_menu: service_menu) unless service_menu.avatar.url.nil?
            .caption
              %h3= service_menu.service_name
              %p= service_menu.service_price
- else
  %h1
    = ServiceMenu.find(params[:service_menu]).service_name
    = link_to "返回", services_home_index_path, class: "btn btn-large"
  %hr           
  = render "girls_list" 
