= simple_form_for(@venue) do |f|
  - if @venue.errors.any?
    #error_explanation
      %h2
        = pluralize(@venue.errors.count, "error")
        prohibited this venue from being saved:
      %ul
        - @venue.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.input :name, label: "店名"
  .field
    = f.input :address, label: "地址"
  .field
    = f.input :contact, label: "联系人"
  .field
    = f.input :desc, label: "说明"
  .field
    = f.input :company_id, as: :hidden,  input_html: { value: @current_company.id }
  .field
    %p= f.input :avatar, as: :file, :label => "场所图片"
    %p= image_tag @venue.avatar.url unless @venue.avatar.url.nil?
  .actions
    = f.button :submit
