%h1 所有店铺
%p
  = link_to '新建店铺', new_venue_path, class: "btn"

%table.table
  %tr
    %th 店名
    %th 地址
    %th 联系人
    %th 说明
    %th
    %th
    %th
  - @venues.each do |venue|
    %tr
      %td= venue.name
      %td= venue.address
      %td= venue.contact
      %td= venue.desc
      %td= link_to 'Show', venue
      %td= link_to 'Edit', edit_venue_path(venue)
      %td= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' }


