= link_to "返回", venues_home_index_path, class: "btn btn-large"
%hr
%p#notice= notice
%p= image_tag @venue.avatar.normal.url unless @venue.avatar.url.nil?
%hr
%ul.thumbnails
  - @venue.pics.each_with_index do |pic, index|
    %li
      .thumbnail
        = image_tag pic.photo.thumbnail.url  
%p
  %b 店名:
  = @venue.name
%p
  %b 地址:
  = @venue.address
%p
  %b 联系人:
  = @venue.contact
%p
  %b 说明:
  %pre=h @venue.desc

= render "/home/girls_list" 

- if current_user.admin
  = link_to 'Edit', edit_venue_path(@venue)
  |
  \#{link_to 'Back', venues_path}

