%p#notice= notice
%p
  %b 店名:
  = @venue.name
%p
  %b 地址:
  = @venue.address
%p
  %b 联系人:
  = @venue.contact
%p
  %b 说明:
  = @venue.desc
%p
  %b 图片：
  %p= image_tag @venue.avatar.url unless @venue.avatar.url.nil?
= link_to 'Edit', edit_venue_path(@venue)
|
\#{link_to 'Back', venues_path}
