%p#notice= notice
%p
  %b 公司名称:
  = @company.name
%p
  %b 图片:
  %p= image_tag @company.avatar.url unless @company.avatar.url.nil?
%p
  %b 公司地址:
  = @company.address
%p
  %b 联系电话:
  = @company.phone
%p 
  %b简介:
  = @company.desc

%hr
%ul
  - @company.admin_user.categories.each do |c|
    %li 
      = c.name  
      %ul
        - c.menu_items.each do |item|
          %li 
            = item.title

