= simple_form_for(@service_menu) do |f|
  - if @service_menu.errors.any?
    #error_explanation
      %h2
        = pluralize(@service_menu.errors.count, "error")
        prohibited this service_menu from being saved:
      %ul
        - @service_menu.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.input :service_name, label: "服务名称"
  .field
    = f.input :service_price, label: "服务价格"
  .field
    = f.input :company_id, as: :hidden,  input_html: { value: @current_company.id }
  .actions
    = f.submit
