= simple_nested_form_for(@service_menu, html: { class: 'form-horizontal' }) do |f|
  - if @service_menu.errors.any?
    #error_explanation
      %h2
        = pluralize(@service_menu.errors.count, "error")
        prohibited this service_menu from being saved:
      %ul
        - @service_menu.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.input :service_name, label: "服务名称"
  .field
    = f.input :service_price, label: "服务价格"
  .field
    = f.input :company_id, as: :hidden,  input_html: { value: @current_company.id }
  .field
    = f.input :desc  
  .field
    %p= f.input :avatar, as: :file, :label => "服务图片"
    %p= image_tag @service_menu.avatar.url unless @service_menu.avatar.url.nil?
  .field  
    %hr
    = f.simple_fields_for :pics do |p|
      %p.fields
        - if p.object.nil? || p.object.new_record?
          %span= p.input :photo, as: :file
        - else
          %span= image_tag p.object.photo.thumbnail.url
          %span= p.link_to_remove t("views.remove"), class: "btn btn-warning"
    = f.link_to_add t("views.add_pictures"), :pics, class: "btn btn-primary btn-smaller"
  .actions
    = f.submit
