- @lasttime = @girl.tasks.count > 0 ? @girl.tasks.last.endtime.localtime.to_i : 0
#girl-show{ "data-current-id" => @current_id, "data-next-id" => @next_id, "data-pre-id" => @pre_id }

.container-fluid
  -if @girl.state == 'working'
    #defaultCountdown{ style: 'margin-bottom:20px;', rel: @lasttime }
  %span#pageback= link_to "返回", '#', class: "btn-large btn"
  = render "tasks"      
  %hr
  .shop-info-text    
    %span.label.label-info
      = "姓名：#{@girl.name}"
    %span.label.label-info
      = "年龄：#{@girl.age}" 
    %span.label{ class: @girl.state == 'working' ? "label-important" : "label-warning" }
      = "状态：" + t(".#{@girl.state}") 
    %span
      .label 所属门店:
      - @girl.venues.each do |venue|
        .label= venue.name
      
  %p
    %a{ href: @girl.avatar.original.url, class: "fancybox thumbnail", rel: "girls-group" }
      = image_tag @girl.avatar.normal.url
  .row-fluid
    .span{ class: @girl.state == 'getoff' ? "gray" : "" }
      %ul.thumbnails
        - @girl.pics.each_with_index do |pic, index|
          %li
            %a{ href: pic.photo.original.url, class: "fancybox thumbnail", rel: "girls-group" }
              = image_tag pic.photo.thumbnail.url

%p
  %h3 
    技师介绍：
    = @girl.name  
  #pre= @girl.desc
  %p.label 服务项目
  %p
    - @girl.service_menus.each do |service_menu|
      = link_to service_menu.service_name, service_menu_path(service_menu), class: "btn btn-warning"
  %h1.comments
    = t("views.comments")
  .comments-container
    %p
      = render "/comments/leave_comment"
    %hr
    - unless @girl.comments.empty?
      = render partial: "/comments/comment", collection: @girl.comments

  



