
- @lasttime = @girl.tasks.count > 0 ? @girl.tasks.last.endtime.localtime.to_i : 0
#girl-show{ "data-current-id" => @current_id, "data-next-id" => @next_id, "data-pre-id" => @pre_id }
  .container-fluid
    -if @girl.state == 'working'
      #defaultCountdown{ style: 'margin-bottom:20px;', rel: @lasttime }
    -else
      -if current_user.admin?
        - if @girl.state == 'pending'
          = link_to "预约", booking_girl_path(@girl), class: "btn-large btn", method: 'PUT'
        - else
          = link_to "取消预定", booking_girl_path(@girl), class: "btn", method: 'PUT'  
    %hr
    .shop-info-text
      %span.label.label-info
        = "姓名：#{@girl.name}"
      %span.label.label-info
        = "年龄：#{@girl.age}"
      %span.label.label-info
        = "价格：#{@girl.price}"
      %span.label.label-info
        = "三围：#{@girl.bwh}" 
      %span.label{ class: @girl.state == 'working' ? "label-important" : "label-warning" }
        = "状态：" + t(".#{@girl.state}") 
    .row-fluid
      .span9{ class: @girl.state == 'getoff' ? "gray" : "" }
        %ul.thumbnails
          - @girl.pics.each_with_index do |pic, index|
            %li.span9
              %a{ href: pic.photo.original.url, class: "fancybox thumbnail", rel: "girls-group" }
                = image_tag pic.photo.original.url
      .span3
        = render "leftbar" 
  %p
    %h3 
      技师介绍：
      = @girl.name  
    #girl-desc= @girl.desc
    %h1.comments
      = t("views.comments")
    .comments-container
      %p
        = render "/comments/leave_comment"
      %hr
      - unless @girl.comments.empty?
        = render partial: "/comments/comment", collection: @girl.comments

  



