%div{:class => "navbar navbar-inverse navbar-static-top"}
  .navbar-inner
    .container
      %a.brand{href: root_path}
        点单服务
        = " - " + Venue.find(params[:venue_id]).name unless params[:venue_id].blank?
      %ul{:class => "nav", role: "navigation"}                
        - if user_signed_in?
          %li
            = link_to "按技师", technicians_home_index_path unless @current_company.technicians.blank?
          %li
            = link_to "按门店", venues_home_index_path unless @current_company.technicians.blank?
          %li
            = link_to "按服务", services_home_index_path unless @current_company.technicians.blank?
          - if current_user.admin?
            %li
              = link_to '技师资料', technicians_path if !@current_company.nil? and !@current_company.venues.blank?
            %li
              = link_to '店铺信息', venues_path unless current_user.company.blank?
            %li
              = link_to '服务列表', service_menus_path  unless current_user.company.blank?
            %li
              = link_to '上钟统计', tasks_path unless current_user.technicians.blank?
            %li
              = link_to '公司信息', current_user.company.blank? ? new_company_path : company_path(current_user.company)
          %li
            =  link_to t("menu.Logout"), destroy_user_session_path, :method => :delete
        - else
          %li
            =  link_to t("menu.Login"), new_user_session_path

#alert-bar.navbar.navbar-static-top
  - unless notice.nil?      
    .alert.alert-block= notice
  -unless alert.nil?
    .alert.alert-error= alert
