%div{:class => "navbar navbar-inverse navbar-static-top"}
  .navbar-inner
    .container
      %a.brand{href: root_path}
        技师点单系统
      %ul{:class => "nav"}                
        - if user_signed_in?
          %li
            = link_to '技师资料', girls_path
          %li
            =  link_to t("menu.Logout"), destroy_user_session_path, :method => :delete
        - else
          %li
            =  link_to t("menu.Login"), new_user_session_path

#alert-bar.navbar.navbar-static-top
  - unless notice.nil?      
    .alert.alert-block= notice
  -unless alert.nil?
    .alert.alert-error= alert
