!!! 5
%html
  %head
    %title= get_head_title
        
    = stylesheet_link_tag    "application", :media => "all" 
    = javascript_include_tag "application" 
    = csrf_meta_tags 
    = include_gon
    %meta{content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=4.0, user-scalable=yes", name: 'viewport'} 
    
  %body
    #alert-bar.navbar.navbar-static-top
      - unless notice.nil?      
        .alert.alert-block= notice
      -unless alert.nil?
        .alert.alert-error= alert

    .container.wap
      %section.top-menu
        %a.brand{href: root_path}
          = image_tag "logo-icon.png", height: '64', width: '64'
          下单服务聚合
      %header#header
        = render "layouts/header"
      #content= yield
    %a#toTop{ href: '#top'}
    